body {
  font: 12px monospace;
  font-weight: lighter;
  color: #666;
  margin: 20px;
}

.square:hover {
  color: #222;
}

.square:active {
  color: #111;
  background: #EEE;
}


ol, ul {
  padding-top: 10px;
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  flex-direction: row;
}

.game-status {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

.game-board {
  padding-top: 16px;
  padding-bottom: 6px;
}

.game ul {
  list-style-type: none;
}

.game li {
  padding-bottom: 8px;
}

.game li p {
  padding: 13px;
  display: inline;
}

.game li p:nth-child(2) {
  border-left: 1px solid #CCC;
  cursor: pointer;
}

.game li p:nth-child(2):hover {
  color: #444;
}    
